<!doctype html>
<html lang="en">
  <head>
  	<title>Squirrel Detector</title>
    <link rel="icon" href="static/images/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon"/>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
		
		<div class="d-flex align-items-stretch">
      <nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="index.html" class="img logo mb-5" ><img src="/static/images/sq.png" style="width:150px;height:150px"></a>
	        <ul class="list-unstyled components mb-5">

	          <li>
	              <a href="index.html">Home</a>
	          </li>
	          <li>
              <a href="collect.html">1. Collect</a>
	          </li>
	          <li>
              <a href="annotate.html">2. Annotate</a>
	          </li>
	          <li>
              <a href="train.html">3. Train</a>
	          </li>
	          <li class="active">
              <a href="detect.html">4. Detect</a>
	          </li>            
	          <li>
              <a href="manage.html" >Manage</a>
	          </li>                
	        </ul>

	        <div class="footer fixed-bottom ml-3">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy; 2023 All rights reserved <br> Template provided by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="jumbotron d-flex justify-content-center flex-wrap custom-control custom-checkbox image-checkbox">

          <img src="/static/images/s1.jpg" class="rounded m-2">
          <div class="card m-2 bg-dark" style="width: 250px">
            <div class="card-header">
                <h4 class="text-warning">Status</h4>
              </div> 
              <div class="card-body" >
                <code class="text-white">
                  Detector started....<br>
                </code>
              </div>
          </div>
         

      </div>
      </div>
		</div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>